# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# elpa
elpa
elpa-*

# straight
straight/*
!straight/versions
!straight/recipes

# emacs
custom.el
.cache
server
eaf
projectile-bookmarks.eld
smex-items
transient
url
bookmarks
.lsp-session-v1
eln-cache
projects